language: python
python:
  - 2.7.15
  - 3.6
before_install:
  - sudo apt-get install gfortran
  - pip install --upgrade pip
  - pip install cython pytest pytest-cov coveralls
install:
  - pip install --no-cache-dir -U -r requirements.txt | cat
  - python setup.py build_ext -i
script:
  - pytest -v --cov=lab --cov-report term-missing
after_success:
  - coveralls
